<h2><i class="fa fa-road"></i> County {{ngDialogData.title}} <span ng-if="ngDialogData.alias && ngDialogData.alias != 'Unknown'">({{ngDialogData.alias}})</span></h2>
<iframe width="620" height="360" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" ng-title="County Road {{ngDialogData.title}}" ng-src="{{ngDialogData.url | trusted}}">
</iframe>
  <button type="button" class="btn closeeventmap" ng-click="closeThisDialog('Some value')">
  	 <i class="fa fa-times-circle" title="Close Map"></i></button>
<div class="eventmapfooter">
	<span class='eventtype'>
		<strong>Project</strong>
	</span>
	<span class='onedateevent' ng-if="ngDialogData.start==ngDialogData.end">
		 on <strong>{{ngDialogData.start | date:'MM/dd/yyyy'}}</strong>
	</span>
	<span class='multidateevent' ng-if="ngDialogData.start!=ngDialogData.end">
		starting <strong>{{ngDialogData.start | date:'MM/dd/yyyy'}}</strong> and ending <strong>
					<span ng-if="ngDialogData.end > 0 && ngDialogData.end < 7855132400000">{{ngDialogData.end | date:'MM/dd/yyyy'}}</span>
			<span ng-if="ngDialogData.end <= 0 || ngDialogData.end > 7855132400000">TBD</end></strong>
	</span>
	<span id='social-buttons'>
	<a class="twitter-share-button"
  href="https://twitter.com/intent/tweet?text=Larimer Road and Bridge Project: {{ngDialogData.title}} {{ngDialogData.time}}, http://webster.larimer.org/engineering/projects/%23event_{{ngDialogData.event_id}} via @LarimerCounty"><i class="fa fa-twitter"></i></a>&nbsp; 
  	<a class="facebook-share-button" href="http://www.facebook.com/sharer/sharer.php?u=http://webster.larimer.org/engineering/projects/%23event_{{ngDialogData.event_id}}"><i class="fa fa-facebook"></i></a></div>
  </span>
</div>