select.input-15.form-control { display: inline-block; width: 150px; }
select.input-9.form-control { display: inline-block; width: 90px; }
.labelbr, .labelbr2, .label2 { line-height: 180%; text-align: right; font-weight: bold; }
.label2 { width: 150px; display: inline-block;}
.container { width: 550px; }
table { margin-top: 6px; }
.pie { width: 200px; height: 200px; }
div.chart-legend { position: absolute; margin-left: 220px; margin-top: -200px; }
.chart-legend ul, .pie-legend ul { list-style-type: none; margin-left: -40px; }
span.sq {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}
.row.i0 { margin-left: 0px !important; margin-right: 0px !important; }
.row.i15  { margin-left: 15px !important; margin-right: 15px !important; }
.number  { display: inline-block; width: 25px; padding-right: 5px; text-align: right; }
.arresting { padding: 2px 5px; color: #fff; background: rgb(64, 128, 0); font-weight: normal; }