<!DOCTYPE html>
<!--
-------------------------------------------------------------------------
Document:	road_closures.html
Author:		Gregg Turnbull
Purpose:	This page is built to showcase AngularJS App reading ESRI Rest API
-------------------------------------------------------------------------- 
-->
<html xmlns:ng="http://angularjs.org" ng-app="roadEvents" id="ng-app">
<head>
<title>Larimer County RESS</title>
<meta name="keywords" content="roads, closures, road closure">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="description" content="List of road closures in Larimer County">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" type="text/css" href="/css/main.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<!--[if lt IE 9]>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.js"></script>
 <style type='text/css'>
	.eventmapfeature {display: none !important;}
 </style>
<![endif]-->
 <!--[if lt IE 8]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.js"></script>
      <script type="text/javascript">
    		$(document).ready(function() {
        		angular.bootstrap(document);
    		});
	  </script>
 <![endif]-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular-resource.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.5.1/js/ngDialog.min.js"></script>

<script src="road_event_data.js"></script>
<script src="angular-tablesort/js/angular-tablesort.js"></script>
<link rel="stylesheet" type="text/css" href="angular-tablesort/tablesort.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.5.1/css/ngDialog.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.5.1/css/ngDialog-theme-default.css">
<link rel="stylesheet" type="text/css" href="road_events.css">
</script>
</head>
<body ng-controller="EventsController">

<h1>Larimer County Road Event System Status (RESS)</h1>
	<h2>Road Closures and Delays</h2>
</div>

<!--<img src="road_construction.gif" width="100" height="100" alt="" border="0" class="fltlt">-->
<div class="map-container" >
<iframe width="500" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" title="Larimer County Road and Bridge Event Map" src="http://larimercounty.maps.arcgis.com/apps/Embed/index.html?webmap=1ae8ab4813ba440cbf03565258ac4e86&amp;extent=-105.762,40.3337,-104.7478,40.747&amp;home=true&amp;zoom=true&amp;scale=true&amp;legend=true&amp;disable_scroll=true&amp;theme=light"></iframe>
</div>
<p><a href="http://agomaps.larimer.org/resstest/" id="maplink" target="_blank"><i class="fa fa-map"></i> View larger map</a></p>
<div class="pod" style="margin: 15px;width:170px;float:right !important;margin-top:-195px;margin-right:-10px;">
<h3>Subscription Service</h3>
<div class="podcontent">
<a href="/subscriptions.cfm?sub=roads">Subscribe / Unsubscribe</a> and receive road closure notices in your email inbox.
<a href="/roads/road_closures/road_event_feed.php" class="rss-bgd" title="RSS feed of website updates">RSS</a>
</div></div>

<p>The following list of road projects and maintenance resurfacing projects are currently in progress or have a planned start date within next {{START_DATE_LIMIT}} Days.</p>
<p>These projects are planned for unincorporated Larimer County and may result in traffic delays.
The list of projects does not include work on state highways or city streets. Maintenance resurfacing
projects include chipseals, slurry seals, grader patch and base stabilizations. All projects require
moderate to good summer time weather and are subject to delays from weather and/or the availability
of materials. Please be advised of the possibility that proposed work might not be completed in time
or that additional projects could be added during the summer season. All projects are subject to change. </p>

<!--
<div  ng-controller="EventsController">
<h1>Test Output</h1>
{{events | debug}}
</div>
-->

<div ng-repeat="category in ['Emergency','Weather Related','Construction Related','Special Event','Seasonal']" ng-if="! isLoading">
<h2>
	<img ng-src="/roads/road_closures/images/{{category | prepimagename}}.png" style="width:22px;margin-bottom:-3px" /> {{category}}</h2>

<p ng-show="!(events | filter:{ attributes: {EVENTCATEGORY: category}}).length">No {{category}} Closures to Report</p> 
<table class="table stdtable eventtable" id="{{category | parameterize}}" ng-hide="!(events | filter:{ attributes: {EVENTCATEGORY: category}}).length" ts-wrapper>
	<thead>
		<tr>
			<th class='eventmapfeature'><i class="fa fa-map-marker"></i></th>
			<th width="60px" ts-criteria="attributes.COUNTYROADNUMBER |lowercase" ts-default>Road</th>
			<th>From</th>
			<th>To</th>
			<th width="95px" ts-criteria="attributes.STARTDATE">Start Date</th>
			<th width="85px" ts-criteria="attributes.ENDDATE">End Date</th>
			<th style="width:120px">Contact</th>
			<th ts-criteria="attributes.EVENTTYPE |lowercase">Type</th>
			<th>Reason</th>
			<th>Last Updated</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="event in events | filter:{ attributes: {EVENTCATEGORY: category}}" ts-repeat>
			<td id="event_{{event.attributes.OBJECTID}}" class='eventmapfeature'>
			<a class="mapclick" data-ng-click="clickToOpen(event)"><i class="fa fa-map"></i></a>
			</td>
			<td width="60px">{{event.attributes.COUNTYROADNUMBER}}<span ng-if="event.attributes.COUNTYROADALIAS && event.attributes.COUNTYROADALIAS != 'Unknown'"><br />({{event.attributes.COUNTYROADALIAS}})</span></td>
			<td>{{event.attributes.FROMCRALIAS}}</td>
			<td>{{event.attributes.TOCRALIAS}}</td>
			<td>{{event.attributes.STARTDATE | date:'MM/dd/yyyy'}}</td>
			<td ng-if="event.attributes.ENDDATE > 0 && event.attributes.ENDDATE < 7855132400000">{{event.attributes.ENDDATE | date:'MM/dd/yyyy'}}</td>
			<td ng-if="event.attributes.ENDDATE <= 0 || event.attributes.ENDDATE > 7855132400000">TBD</td>
			<td style="width:120px">{{event.attributes.CONTACTNAME}}<br />
				{{event.attributes.CONTACTPHONE}}</td>
			<td>{{event.attributes.EVENTTYPE}}</td>
			<td>{{event.attributes.EVENTREASON}}
			<div class="eventlinks" ng-if="event.attributes.LINK1 || event.attributes.LINK2 || event.attributes.LINK3">
				<a target="_blank" ng-if="event.attributes.LINK1 && !(event.attributes.LINK1=='Not Available')" href="{{event.attributes.LINK1}}" title="{{event.attributes.LINK1}}"><i class="fa fa-external-link-square"></i></a>
				<a target="_blank" ng-if="event.attributes.LINK2 && !(event.attributes.LINK2=='Not Available')" href="{{event.attributes.LINK2}}" title="{{event.attributes.LINK2}}"><i class="fa fa-external-link-square"></i></a>
				<a target="_blank" ng-if="event.attributes.LINK3 && !(event.attributes.LINK3=='Not Available')" href="{{event.attributes.LINK3}}" title="{{event.attributes.LINK3}}"><i class="fa fa-external-link-square"></i></a>
			</div>
			</td>
			<td>{{event.attributes.LAST_EDITED_DATE  | date:'MM/dd/yyyy'}}</td>

		</tr>
	</tbody>
</table>
</div>
</body>
</html>